@font-face {
  font-family: "RussoOne";
  src: url(./Fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: "InterTight";
  src: url(./Fonts/InterTight-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "InterTight";
  scroll-behavior: smooth;
}

header {
  background-color: #063835;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header-menu a {
  color: #fff;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

/* Button */

.register-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.register-btn button {
  width: 95;
  height: 56;
  padding: 20px 26px;
  gap: 4px;
  border-radius: 40px;
  border: 0.5px solid #fff;
  cursor: pointer;
  background-color: #063835;
  transition: all 0.3s ease-in-out;
}

.register-btn a {
  color: #fff;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}

.register-btn button:hover a {
  color: #063835;
}

.register-btn button:hover {
  background-color: #fff;
  padding: 20px 24px;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.5);
}

.register-btn button:active a {
  font-size: 14px;
}

/* Menu hovers */
.menu-1:hover a {
  font-size: 20px;
  color: #ff4c33;
}

.menu-1 a {
  transition: all 0.2s ease-in-out;
}

.menu-1:active a {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.menu-2:hover a {
  font-size: 20px;
  color: #ff4c33;
}

.menu-2 a {
  transition: all 0.2s ease-in-out;
}

.menu-2:active a {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.menu-3:hover a {
  font-size: 20px;
  color: #ff4c33;
}

.menu-3 a {
  transition: all 0.2s ease-in-out;
}

.menu-3:active a {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.menu-4:hover a {
  font-size: 20px;
  color: #ff4c33;
}

.menu-4 a {
  transition: all 0.2s ease-in-out;
}

.menu-4:active a {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.menu-5:hover a {
  font-size: 20px;
  color: #ff4c33;
}

.menu-5 a {
  transition: all 0.2s ease-in-out;
}

.menu-5:active a {
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}
/* Menu hovers end */

/* MAIN */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  background: #063835;
  color: white;
  gap: 40px;
}

.hero-text h1 {
  font-size: 96px;
  font-family: "RussoOne";
}

.highlight {
  background: #c4ff19;
  color: #063835;
  font-family: "RussoOne";
  transform: skewX(-20deg);
}


.btn-start {
  margin-top: 25px;
  background: #ff4c33;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-start:hover {
  background-color: #d32e19c2;
  transform: translateY(-5px) scale(1.2);
  box-shadow: 0 15px 20px #f5462e93;
}

.btn-start:active {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.training-img {
  width: 753px;
  height: auto;
  margin-top: -40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  position: relative;
}

.highlight {
  position: absolute;
  left: 265px;
  top: 120px;
}

.hero-text h1 {
  position: absolute;
  top: -300px;
  left: 140px;
}

/* .hero-text p {
  position: absolute;
  top: -50px;
  left: 140px;
} */

.hero-container{
  position: relative;
}

.distance-card p {
  display: flex;
  border: 1px solid #0f9089;
  background-color: #0f9089;
  border-radius: 20px;
  padding: 20px 16px;
  font-family: "RussoOne";
  font-size: 58px;
}

.distance-card {
  position: absolute;
  right: 90px;
  top: 155px;
  z-index: 10;
}

.distance-card span {
  font-family: "RussoOne";
  font-size: 24px;
}

.ads-section{
  position: relative;
}

.ads-section{
  position: absolute;
  top: 880px;
  z-index: 10;
}